@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto&family=Satisfy&display=swap');

body{
background: #625a5a;
background: linear-gradient(0deg, rgba(98,90,90,1) 17%, rgba(62,53,53,1) 47%, rgba(98,90,90,1) 77%);
color: black;
font-family: 'Roboto', sans-serif;
}
header{
    color: black;
    background-color: rgb(147, 143, 143);
}
.sticky-top{
    opacity: 0.9;
    transition: ease-in;
}
.titulo{
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    text-align: center;
    color: black;
    padding-top: 50px;
}
.navbar {
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    box-shadow: 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
}
.nav-link, .form-control{
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    --bs-nav-link-color: black; 
}
#carouselIndex{
    margin-top: 120px;
    margin-bottom: 100px;
}
#myCarousel, .carousel-image{
    height: 600px;
    width: 640px;    
}
.icon {
    width: 55px;
    height: 55px;
    margin-top: 10px;
} 
.firma{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    color: black;
}
footer{
    background-color: rgb(147, 143, 143);
	margin-top: 20px;
}
.footer-sub {
    font-family: 'Roboto', sans-serif;
	font-size: 1.15rem;
	font-weight: bold;
	text-align: center;
    color: black;
}
.imgH{
    width:490px;
    height: 350px;
    display: flex;
    align-items: center;
}
.habitacionesCard {
    display: flex;
    width: 450px !important;
    margin: 40px;
}
#habitacionesRow{
    margin-top: 60px;
    justify-content: center;
}
.habitaciones-t{
    height: 730px;
}
p{
    font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
    color: white;
    padding-top: 10px;
}
#btnH{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-align: justify;
    color: rgb(93, 93, 197);
}
.hidden{
    display: none;
}
.formField{
    display: flex;
}
#formulario {
    font-family: 'Roboto', sans-serif;
    font-size: 1.30rem;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 150%;
    left: 0%;
    width: 100%;
    height: 100%;
    vertical-align: center;
    z-index: 1;
    overflow: auto;
    box-sizing: border-box;
}
#formTitulos{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;    
}
/*#promocion{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}*/
#botoncerrar{
    display: flex;
    justify-content: flex-end;
}
#carouselNav ::before{
    content: "";
    position: fixed;
    height: 100px !important;
}
#carouselNav {
    animation-name: animacion;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
.stickyCarousel{
    width: 100%;
    height: 100px;
    opacity: .6;
}
@keyframes animacion {
    0% {background-color: rgb(43, 43, 158);} 
    50% {background-color: rgba(50, 160, 136, 0.863);} 
    80% {background-color: rgb(94, 90, 93);}
    100% {background-color: rgb(6, 6, 6);}
}
#contacto{
    font-family: 'League Gothic', sans-serif;
    font-size: 1.50rem;
    color: white;
}
.checkin, .checkout{
    font-family: 'League Gothic', sans-serif;
    font-size: 1rem;
    border: solid 1px white;
    width: 110px;
    height: 26px;
}
#btnR{
    font-family: 'League Gothic', sans-serif;
    font-size: 1.40rem;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    background: none;
    border: solid 1px white;
    border-radius: 50%;
    margin-bottom: 15px;
}
.descripcionT{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
.descripcion{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
.contacto{
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
}
.formFecha{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btnContacto{
    margin: 25px;
}
legend{
    font-family: 'Roboto', sans-serif;    
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 25px;
}